
*body{
    padding: 0;
    margin: 0;
}
.pdesign1{
    font-family: IBM Plex Sans, sans-serif;
    font-size: 32px;
    font-weight: 500;
    line-height: 18;
    letter-spacing: 0;
    text-align: left;


}
.pdesign3{
    font-family: IBM Plex Sans, serif;
    font-size: 32px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0;
    text-align: left;
    justify-content: center;
    padding: 10px;
    background: #E6F1F4;
    width: 938px;
    height: 47px;
    top: 342px;
    left: 383px;



}


.pdesign2{
    font-family: IBM Plex Sans, serif;
    font-size: 26px;
    font-weight: 500;
    line-height: 36px;
    letter-spacing: 0.1599999964237213px;
    text-align: left;

}
.side-bar {
    width: 296px;
    font-family: IBM Plex Sans, serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.1599999964237213px;
    text-align: left;
    top: 167px;
    left: 38px;
    padding: 2px;
    gap: 8px;


}
.side-bar1
{
    margin-left:17px ;
}

.selected {
    color: blue;

}


.align-left {
    float: left;
    margin-right: 200px;
    background: #0000FF;
    font-family: IBM Plex Sans, serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 0.1599999964237213px;
    text-align: left;


}

.align-right{
            float: right;
            background: #0000FF;
            margin-right: 200px;
            font-family: 'IBM Plex Sans', serif; /* Make sure to use single or double quotes for font family names with spaces */
            font-size: 18px;
            font-weight: 700;
            line-height: 18px; /* You may want to adjust this based on your design */
            letter-spacing: 0; /* You can adjust the letter-spacing as needed */
            text-align: right; /* Set text-align to right to align text to the right within the button */
            /* Remove margin-left: 400px; */
    }







.img1 {
    margin-top: 31px;
    padding-right: 10px;


}

.item1{
    width: 185px;
    height: 58px;
    gap: 8px;

}
.item2{
    width: 151px;
    height: 18px;
    /*border: 0px,0px,1px;*/
    background: #0F62FE;
    border-bottom: 1px solid #0F62FE;
    font-family: IBM Plex Sans, serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.1599999964237213px;
    text-align: left;
}

.item{
    width: 185px;
    height: 58px;
    gap: 8px;

}
.pdesign{
    font-family: IBM Plex Sans, serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0.01em;
    text-align: left;



}
 .design {
    border: 1px ;
    color: #E6F1F4;
    width: 936px;
    height: 285px;
    top: 556px;
    left: 393px;
     box-shadow: 0 4px 10px 0 #ACACAC59;}



td {
    font-family: IBM Plex Sans, serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0;
    text-align: center;
    width: 142px;
    height: 18px;
    top: 636px;
    left: 456px;
    color: #000000;



}
th {

    font-family: IBM Plex Sans, serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0;
    text-align: center;
    color: #000000;
    width: 59px;
    height: 18px;
    top: 575px;
    left: 499px;


}


/* tr:nth-child(even) {
    background-color: #f2f2f2;
}
tr:nth-child(odd) {
    background-color: rgb(200, 209, 219);
} */
.header-row {
    text-align: center;

}
.design1{
    width: 615px;
    height: 311px;
    top: 1114px;
    left: 394px;
    border: 1px;
    border: solid #E6F1F4;



}
.design11{
    width: 936px;
    height: 270px;
    top: 2047px;
    left: 393px;
    border: 1px;

}
.design2{
    background:  #CAF0F8;

    border: 1px solid #E6F1F4;

}
.design21{
    background:#FFFFFF;

    border: 1px solid #E6F1F4;



}
.design20{
    font-family: IBM Plex Sans, serif;
    font-size: 40px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0;
    text-align: center;
    background:#FFFFFF;

    border: 1px solid #E6F1F4;
}
.design22{
    background:  #E6F1F4;

    border: 1px solid #E6F1F4;



}
.design3{
    background:#90E0EF;

    border: 1px solid #E6F1F4;
}
.design111{
    width: 936px;
    height: 400px;
    top: 3076px;
    left: 393px;
    border: 1px;
    border: solid #E4ECEE;

}
.design221{
    background:  #90E0EF;
    border: 1px solid #E4ECEE;


}
.design222{
    background: #ADE8F4;
    border: 1px solid #E4ECEE;
}
.design223{
    background: #CAF0F8;

    border: 1px solid #E4ECEE;
}
.design224
{
    background: #DBF3F5;
    border: 1px solid #E4ECEE;

}
.design1111
{
    width: 936px;
    height: 209px;
    top: 3738px;
    left: 393px;
    border: 1px;
    border: solid #EBEBEB;

}
.design2211{
    background:  #CAF0F8;
    border: 1px solid #EBEBEB;

}
.design2221{
    background:  #ADE8F4;
    border: 1px solid #EBEBEB;

}
.format{
    font-family: IBM Plex Sans, serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0.3199999928474426px;
    text-align: left;

}
.list-container {
    display: inline-block;
    width: 225px;
    height: 156px;
    top: 1556px;
    left: 393px;
    gap: 8px;
    font-family: IBM Plex Sans, serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0.01em;
    text-align: left;


  }


  .popup {

    display: none;

  }
  .popup1{
      margin-top: -290px;
      position: relative;
      display: inline-block;
      margin-left: 200px

  }
 .popup2{
    margin-top: -280px;
    position: relative;
    display: inline-block;
    margin-left: 210px

}
.popup3{
    margin-top: -280px;
    position: relative;
    display: inline-block;
    margin-left: 210px
}


.popup4{
    margin-top: -180px;
    position: relative;
    display: inline-block;
    margin-left: 400px;
}
.popup5{
    margin-top: -360px;
    position: relative;
    display: inline-block;
    margin-left: 650px;
}
.popup6{
    margin-top: -210px;
    position: relative;
    display: inline-block;
    margin-left: 200px;
}
.popup7{
    margin-top: -210px;
    position: relative;
    display: inline-block;
    margin-left: 200px;
}

.alert{
    margin-right:-20px;
    margin-top: -30px;
    display: inline-block
}
/* styles.css */
.custom-button {
    width: 336px;
    height: 55px;
    top: 4502px;
    left: 394px;
    border-radius: 20px;
    background: #0000FFB0;
    color: #FFFFFF;
    display: inline-block;
    font-family: IBM Plex Sans, serif;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 0.1599999964237213px;
    text-align: center;
    text-decoration: none;
    justify-content: center;
    cursor: pointer;
    line-height: 2;
    transition: background-color 0.3s, color 0.3s;


}
.custom-button:hover {
    background-color: #2577A0;
    color: #FFFFFF;
    text-decoration: none;
}
.submit4{
    display: inline-block;
}

.submit-message{
    display: inline-block;
    font-family: IBM Plex Sans, serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0.01em;
}
.submit{
    display: inline-block;

}
.message
{
    display: inline-block;
    font-family: IBM Plex Sans, serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0.01em;
}
.submit1{
    display: inline-block;

}
.message1
{
    display: inline-block;
    font-family: IBM Plex Sans, serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0.01em;
}

.question1 {
    display: none;
}
.question2 {
    display: none;
}
.question3 {
    display: none;
}
.question4 {
    display: none;

}

.image1
{
    display:inline-block;
    vertical-align: top;
}
.list1
{
    display: inline-block;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    margin-left: 10px;
    margin-top: 24px; /* You can adjust the value to move it up or down as needed */



}
.image2
{
    display:inline-block;
    vertical-align: top;
}
.list2
{
    display: inline-block;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    margin-left: 44px;
    margin-top: 19px; /* You can adjust the value to move it up or down as needed */



}
.image3
{
    display:inline-block;
    vertical-align: top;
}
.list3
{
    display: inline-block;
    font-family: Roboto, serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    margin-left: -10px;
    margin-top: 19px; /* You can adjust the value to move it up or down as needed */



}
.image4
{
    display:inline-block;
    vertical-align: top;
}
.list4
{
    display: inline-block;
    font-family: Roboto, serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    margin-left: 10px;
    margin-top: 19px; /* You can adjust the value to move it up or down as needed */



}
.image5
{
    display:inline-block;
    vertical-align: top;
}
.list5
{
    display: inline-block;
    font-family: Roboto, serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0;
    text-align: left;
    margin-left: 10px;
    margin-top: 19px; /* You can adjust the value to move it up or down as needed */



}
